/* 
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Estilos visuales (shadowbox, radius)
5. Otros
*/

:root{
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black:#201e1c;
    --black:#282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    scroll-behavior: smooth;
}


header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

header img{
    width: 151px;
    height: 24px;
    margin-top:39px;
    align-self: center;
}

.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 288px;
    max-width: 454px;
    height: 218px;
    margin-top:33px;
    align-self: center;
}

.header__content h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__content p{
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:var(--soft-orange);
}

.header__content .header__button{
    position: absolute;
    top: calc(100% - 24px);
    padding: 15px;
    width: 229px;
    height: 48px;

    font-size: 1.4rem;
    font-weight: bold;
    color: var(--warm-black);

    background-color: var(--off-white);
    text-decoration: none;

    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
}


.header__content .header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 14px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-size: contain;
}

/*main */

main{
    width: 100%;
    min-width: 320px;
    background-color: var(--off-white);
}

.exchange{
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.exchange__img{
    width: 195px;
    height: 195px;
    background: url('../assets/img/Bitcoin.svg') center/contain no-repeat;
    margin-top: 58px;
}

.exchange__text{
    width: 90%;
    min-width: 288px;
    max-width: 466px;
}

.exchange__text h2{
    margin-top: 40px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.exchange__text p{
    margin-top:24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--grey);
}


.exchange__tables{
    width: 70%;
    max-width: 500px;
    margin-top: 48px;
    margin-bottom: 73px;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.exchange__tables::-webkit-scrollbar{
    background-color: var(--soft-orange);
    height: 10px;
}


.exchange__tables::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }

.exchange__valores{
    margin: 0 20px;
    text-align: left;
    scroll-snap-align: center;
    width: 235px;
    margin-bottom: 10px;

}

.valores__titulo{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #FF9536;
    width: 197px;
    padding-bottom: 12px;
    padding-left:35px
}

.valores__titulo--comision{
    color:var(--secondary-blue);
}

.valores__tabla{
    text-align: left;
    width: 197px;
    height: 157px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.valores__tabla td{
    width: 50%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.valores__tabla td:nth-child(1){
    padding-left: 10px;
}
.valores__tabla .table__right{
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding-left: 10px;
    letter-spacing: -0.02rem;
    color: #757575;
}

.valores__tabla .table__top--left{
    border-radius: 8px 0 0 0 ;
}

.valores__tabla .table__top--right{
    border-radius: 0 8px 0 0 ;
}

.valores__tabla .table__bottom--left{
    border-radius: 0 0 0 8px ;
}

.valores__tabla .table__bottom--right{
    border-radius: 0 0 8px 0 ;
}

.valores__tabla .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url(..//assets/icons/trending-down.svg) center/contain no-repeat;
}

.valores__tabla .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url(..//assets/icons/trending-up.svg) center/contain no-repeat;
}

.valores__nota{
    width: 116px;
    height: 31px;
    padding: 8px;
    border-radius: 8px;
    background-color:var(--soft-orange) ;
    font-family: 'Inter', sans-serif;
    margin-top: 16px;
}

.valores__nota--comision{
    background-color: var(--soft-blue);
}

.valores__nota p{
    font-size: 1.2rem; 

}




/*          section beneficios           */

.beneficios{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    background-color: var(--warm-black);
}


.beneficios__logo{
    position: absolute;
    top: -12.5px;
    background: url('../assets/icons/batata.svg') center/contain no-repeat;
    width: 41px;
    height: 25px;
}

/*          beneficios texto        */
.beneficios__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 32px;
    width: 90%;
}

.beneficios__text h2{
    max-width: 466px;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);

}

.beneficios__text p{
    margin-top: 24px;
    max-width: 466px;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}


/*          cards de producto           */
.beneficios__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 288px;
    margin-bottom: 20px;
}

.cards__product{
    width: 100%;
    max-width: 345px;
    min-height: 152px;
    padding: 14px 20px 22px 16px;
    margin-bottom: 16px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.16);
}

.product__logo{
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.product__title{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 10px;
    color: var(--just-white);
}

.product__info{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:grey;
}

.product__logo--clock{
    background: url(../assets/icons/clock.svg) center/contain no-repeat;
}

.product__logo--eye{
    background: url(../assets/icons/eye.svg) center/contain no-repeat;
}

.product__logo--dollar{
    background: url(../assets/icons/dollar-sign.svg) center/contain no-repeat;
}

.product__logo--check{
    background: url(../assets/icons/check-circle.svg) center/contain no-repeat;
}



/* seccion comodin imagen mujer */

.women-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    height: 299px;
    background: url(../assets/img/bitcoinbaby2x.jpg) center/cover no-repeat;
}

.women-img-container h2{
    text-align: center;
    font-style: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);

}


/*      section planes        */


.planes{
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #E5E5E5;
}


.planes__text{
    width: 90%;
    max-width: 466px;
    margin-top: 82px;
}

.planes__text h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.planes__text p{
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}


.planes__cards{
    display: flex;
    width: 90%;
    max-width: 800px;
    /* no aplica el gap para todos los navegadores    gap: 50px; */
    padding-top: 50px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-bottom: 20px;

}

.planes__cards::-webkit-scrollbar{
    background-color: var(--soft-orange);
    height: 10px;
}


.planes__cards::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }

.cards__plan{
    position: relative;

    scroll-snap-align: center;

    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 31px ;
    padding-bottom: 24px;
    margin-bottom:10px;

    min-width: 190px;
    height: 247px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;

}


.plan__recomendado{
    position: absolute;
    top: -15px;
    width: 101px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    padding:8px;
    color:var(--just-white);
    border-radius: 8px;

    font-size: 1.2rem;
    line-height: 1.5rem;
}

.plan__title{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: black;
}

.plan__valor{
    position: relative;
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
}

.plan__valor span{
    position: absolute;
    left: -10px;
    top: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:#363636;
}

.plan__nota{
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:#757575;

}


.plan__button-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 151px;
    height: 48px;

    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;

    text-decoration: none;

    color: var(--warm-black);

    background-color: var(--just-white);
    border:2px solid var(--bitcoin-orange);
    border-radius: 4px;
}

.plan__button-selection span{

    margin-left: 8px;
    width: 24px;
    height: 24px;
    background: url(../assets/icons/orange-right-arrow.svg) center/contain no-repeat;

}


footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-width: 320px;
    height: 100px;
    background-color: var(--bitcoin-orange);
}

.footer__menu{
    list-style: none;
}

.footer__menu li{
    margin-bottom: 5px;
}

.footer__menu li a{

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--just-white);
    text-decoration: none;

}


.footer__img{
    width: 64px;
    height: 50px;
}